.nav {
  height: 95%;
  width: auto;
  /* max-width: 0; */
  max-width: 15vw;
  min-width: 15vw;
  background-color: #f7a440;
  position: absolute;
  padding: 5vh 0 0 0;
  top: 0;
  left: 0;
  margin: 0;
  overflow: hidden;
  transition: all 0.3s;
}
.chat-link {
  text-decoration: none;
  padding: 1em;
  /* width: 1em; */
  background-color: #e1701a;
  list-style: none;
  cursor: pointer;
  transition: all 0.3s;
  color: black;
}
.chat-link:hover {
  background-color: #e27624;
}
